//- Объявление миксина
mixin mixCheckboxListExp({label: vLabel, inputs})
  .checkbox-list-exp
    button.checkbox-list-exp__button=vLabel
    .checkbox-list-exp__items
      each item in inputs
        .checkbox-list-exp__item
          input.checkbox-list-exp__checkbox(type="checkbox" name=item.name id=item.id)
          label.checkbox-list-exp__label(for=item.id)=item.value