//- Объявление миксина
//- Параметры: 
mixin mixBulletList({label, items})
  .bullet-list
    .bullet-list__label=label
    ul.bullet-list__items
      each item in items
        li.bullet-list__item=item