//- Объявление миксина
//- Параметры: vLabel, vType, vPlaceholder
mixin mixTextFieldMasked({type: vType, placeholder: vPlaceholder, name})
  .text-field-masked
    input.text-field-masked__input(type= vType required='' placeholder= vPlaceholder name=name)
