//- Объявление миксина
mixin mixButtonRate({groupName: name, inputIds})
  .button-rate
    each item, index in inputIds
      input(type='radio' id=inputIds[4-index] name=groupName value=5-index)
      label(for=inputIds[4-index] title='text')=(5-index)+' star'