@use '../../scss/colors.scss' as *;

.button-rate {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    width: fit-content;

    //float: left;
    //height: 46px;
    //padding: 0 10px;
}


.button-rate:not(:checked)>input {
    display: none;
    //position: absolute;
    //top: -9999px;
    // -webkit-appearance: none;
    // -moz-appearance: none;
    // appearance: none;
}

.button-rate:not(:checked)>label {
    // Стиль значений > value

    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 24px;
    color: grey;
    //float: right;
}

.button-rate:not(:checked)>label:before {
    content: 'star_border ';
    font-family: "Material Symbols Outlined", serif;
    //line-height: 0.85em;
    font-weight: 300;

    background: linear-gradient($color-purple, $color-blue);
    color: transparent;
    background-clip: text;
}

.button-rate>input:checked~label {
    // Стиль значений <= value

    font-variation-settings: 'FILL' 1;
}

.button-rate:not(:checked)>label:hover,
.button-rate:not(:checked)>label:hover~label {
    // Стиль hover значений > value
    //color: green;
}

.button-rate>input:checked+label:hover,
.button-rate>input:checked+label:hover~label,
.button-rate>input:checked~label:hover,
.button-rate>input:checked~label:hover~label,
.button-rate>label:hover~input:checked~label {
    // Стиль hover значений <= value
    //color: magenta;
}