//- Вставка из другого файла, использование миксинов с параметрами
include ../../modules/head/head
include ../../modules/text-field/text-field.pug
include ../../modules/text-field-masked/text-field-masked.pug
include ../../modules/text-field-subscription/text-field-subscription.pug
include ../../modules/dropdown/dropdown.pug
include ../../modules/dropdown-date-split/dropdown-date-split.pug
include ../../modules/dropdown-date-filter/dropdown-date-filter.pug
include ../../modules/checkbox-list-exp/checkbox-list-exp.pug
include ../../modules/checkbox-list/checkbox-list.pug
include ../../modules/checkbox-list-rich/checkbox-list-rich.pug
include ../../modules/advantages/advantages.pug
include ../../modules/radio-buttons/radio-buttons.pug
include ../../modules/toggle/toggle.pug
include ../../modules/button-like/button-like.pug
include ../../modules/button-rate/button-rate.pug
include ../../modules/slider-range/slider-range.pug
include ../../modules/button-dark/button-dark.pug
include ../../modules/button-light/button-light.pug
include ../../modules/button-clear/button-clear.pug
include ../../modules/button-arrow/button-arrow.pug
include ../../modules/bullet-list/bullet-list.pug
include ../../modules/products-list/products-list.pug
include ../../modules/pagination/pagination.pug

//- Составные модули
include ../../composite_modules/review/review.pug
include ../../composite_modules/search/search.pug



doctype html

+mixHead('Главная')

body
  include ../../modules/header/header.pug
  
  .uikit-demo
    .container
      //- Пример вставки картинки
      //- <img width="250" height="200" src="@img/cover.jpg" alt="">

      //- text-field
      .uikit-demo__item
        -
          const textFieldParams = {
            label: 'Text field',
            type: 'text',
            placeholder: 'Email (placeholder)'          };
        +mixTextField(textFieldParams)

      //- text-field-masked
      .uikit-demo__item
        -
          const textFieldMaskedParams = {
            label: 'Masked text field',
            type: 'date',
            placeholder: ''
          };
        +mixTextFieldMasked(textFieldMaskedParams)

      //- text-field-subscription
      .uikit-demo__item
        -
          const textFieldSubscriptionParams = {
            label: 'Subscription text field',
            type: 'text',
            placeholder: 'Email (placeholder)'
          };
        +mixTextFieldSubscription(textFieldSubscriptionParams)

      //- dropdown - c гостями
      .uikit-demo__item
        -
          const dropdownParams = {
            label: 'Dropdown',
            placeholder: 'Сколько гостей',
            type: '1', // с гостями
            inputNames: ['select-value1', 'select-value2', 'select-value3']
          };
        +mixDropdown(dropdownParams)

      //- dropdown - с параметрами номера
      .uikit-demo__item
        -
          const dropdownParams2 = {
            label: 'Dropdown (type2)',
            placeholder: 'Параметры номера',
            type: '2', // с параметрами номера
            inputNames: ['select-value4', 'select-value5', 'select-value6']
          };
        +mixDropdown(dropdownParams2)
      
      //- dropdown-date-split
      .uikit-demo__item
        -
          const dropdownSplitParams = {
            label1: 'Date dropdown split - part1',
            label2: 'Date dropdown split - part2',
            inputs:[
              {id: 'inputdate1', name: 'date-from'},
              {id: 'inputdate2', name: 'date-to'},
            ]

          };
        +mixDropdownDateSplit(dropdownSplitParams)

      //- dropdown-date-filter
      .uikit-demo__item
        -
          const dropdownDateFilterParams = {
            label: 'Filter date dropdown',
            input: {id: 'input-date-filter-name1', name: 'date-range'},
          };
        +mixDropdownDateFilter(dropdownDateFilterParams)

      //- checkbox-list-exp
      .uikit-demo__item
        -
          const checkboxListExpParams = {
            label: 'Expendable checkbox list',
            inputs:[
              {id: 'chkbox1', name: 'breakfast', value: 'завтрак'},
              {id: 'chkbox2', name: 'desk', value: 'письменный стол'},
              {id: 'chkbox3', name: 'high-chair', value: 'стул для кормления'},
              {id: 'chkbox4', name: 'crib', value: 'кроватка'},
              {id: 'chkbox5', name: 'tv', value: 'телевизор'},
              {id: 'chkbox6', name: 'shampoo', value: 'шампунь'},
            ]
          };
        +mixCheckboxListExp(checkboxListExpParams)
      
      //- checkbox-list
      .uikit-demo__item
        -
          const checkboxListParams = {
            label: 'Checkbox list',
            inputs:[
              {id: 'chkbox7', name: 'smoking', value: 'можно курить'},
              {id: 'chkbox8', name: 'pets', value: 'можно с питомцами'},
              {id: 'chkbox9', name: 'guests', value: 'можно пригласить гостей (до 10 человек)'},
            ]
          };
        +mixCheckboxList(checkboxListParams)
      
      //- checkbox-list-rich
      .uikit-demo__item
        -
          const checkboxListRichParams = {
            label: 'Rich checkbox list',
            inputs:[
              {id: 'chkbox10', name: 'wide-corridor', value: 'Широкий коридор', description: 'Ширина коридоров в номере не менее 91 см.'},
              {id: 'chkbox11', name: 'disabled-assistant', value: 'Помощник для инвалидов', description: 'На 1 этаже вас встретит специалист  и проводит до номера.'},
            ]
          };
        +mixCheckboxListRich(checkboxListRichParams)
      
      //- advantages
      .uikit-demo__item
        -
          const advantagesParams1 = {
            icon: 'insert_emoticon',
            title: 'Комфорт',
            description: 'Шумопоглощающие стены',
            hasline: 'true',
          };
        +mixAdvantages(advantagesParams1)
        -
          const advantagesParams2 = {
            icon: 'location_city',
            title: 'Удобство',
            description: 'Окно в каждой из спален',
            hasline: 'false',
          };
        +mixAdvantages(advantagesParams2)
      
      //- radio-buttons
      .uikit-demo__item
        -
          const radioButtonsParams = { 
            label: 'Radio buttons',
            groupName: 'gender',
            inputs:[
              {id: 'radio1', value: 'мужчина'},
              {id: 'radio2', value: 'женщина'},
            ]
          };
        +mixRadioButtons(radioButtonsParams)
      
      //- toggle
      .uikit-demo__item
        -
          const toggleParams = {
            label: 'Toggle',
            inputs:[
              {id: 'toggle1', name: 'getoffres', value: 'получать спецпредложения'},
              {id: 'toggle2', name: 'getnews', value: 'получать новости'},
            ]
          };
        +mixToggle(toggleParams)
      
      //- button-like
      .uikit-demo__item
        |Like button
        br
        br
        -
          const buttonLikeParams1 = {
            numberOfLikes: '12',
            id: 'btnlike1',
            isChecked: 'true'
          };
        +mixButtonLike(buttonLikeParams1)
        -
          const buttonLikeParams2 = {
            numberOfLikes: '25378',
            id: 'btnlike2',
            isChecked: 'false'
          };
        +mixButtonLike(buttonLikeParams2)
      
      //- button-rate
      .uikit-demo__item
        |Rate button
        br
        br
        -
          const buttonRateParams = {
            name: 'starrategrp1',
            inputIds: ['starrate1','starrate2','starrate3','starrate4','starrate5'],
          };
        +mixButtonRate(buttonRateParams)
      
      //- slider-range
      .uikit-demo__item
        -
          const sliderRangeParams = {
            label: 'Range slider',
            min: '1000',
            max: '12000',
            minValue: '2000',
            maxValue: '10000',
            step: '50',
            gap: '500'
          };
        +mixSliderRange(sliderRangeParams)
      
      .uikit-demo__item
        |Buttons
        br
        br
        //- button-dark
        - const buttonDarkParams = {text: 'click me'};
        +mixButtonDark(buttonDarkParams)
        //- button-light
        -  const buttonLightParams = {text: 'click me'};
        +mixButtonLight(buttonLightParams)
        //- button-clear
        -  const buttonClearParams = {text: 'click me'};
        +mixButtonClear(buttonClearParams)
        //- button-arrow
        -  const buttonArrowParams = {text: 'Перейти к оплате'};
        +mixButtonArrow(buttonArrowParams)
      
      //- bullet-list
      .uikit-demo__item
        -
          const bulletListParams = {
            label: 'Bullet list',
            items: ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00'],
          };
        +mixBulletList(bulletListParams)
      
      //- products-list
      .uikit-demo__item
        -
          const productListParams = {
            label: 'Products list',
          };
        +mixProductsList(productListParams)
      
      //- pagination
      .uikit-demo__item
        -
          const paginationParams = {
            label: 'Pagination',
          };
        +mixPagination(paginationParams)

      //- review
      .uikit-demo__item
        |Review
        -
          const reviewParams = {
            photo: '@img/review/review-photo1.jpg',
            name: 'Мурад Сарафанов',
            timeReview: '5 дней назад',
            text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
            buttonLikeParams: {
              numberOfLikes: '12',
              id: 'btnlike3',
              isChecked: 'true'
            },
          };
        +mixReview(reviewParams)

      //- search
      .uikit-demo__item
        -
          const searchParams = {
            title: 'Найдем номера под ваши пожелания',
            dropdownSplitParams: {
              label1: 'Прибытие',
              label2: 'Выезд',
              inputs:[
                {id: 'inputdate3', name: 'date-from'},
                {id: 'inputdate4', name: 'date-to'},
              ]
            },
            dropdownParams: {
              label: 'Гости',
              placeholder: 'Сколько гостей',
              type: '1', // с гостями
              inputNames: ['select-value7', 'select-value8', 'select-value9']
            },
            buttonArrowParams: {text: 'Подобрать номер'},
          };
        +mixSearch(searchParams)
        
  include ../../modules/footer/footer.pug

  script(src='js/main.js')
  