//- Вставка из другого файла, использование миксина с параметрами
//- mixin mixHead(pageTitle)
include ../../modules/head/head

//- mixin mixTextField(vLabel, vType, vPlaceholder)
include ../../modules/text-field/text-field.pug

//- mixin mixTextFieldMasked(vLabel, vType, vPlaceholder)
include ../../modules/text-field-masked/text-field-masked.pug

//- mixin mixTextFieldSubscription(vLabel, vType, vPlaceholder)
include ../../modules/text-field-subscription/text-field-subscription.pug

//- mixin mixDropdown(vLabel, vPlaceholder)
include ../../modules/dropdown/dropdown.pug

//- mixin 
include ../../modules/dropdown-date-split/dropdown-date-split.pug

//- mixin 
include ../../modules/dropdown-date-filter/dropdown-date-filter.pug

doctype html

+mixHead('Главная')

body
  include ../../modules/header/header.pug
  
  .uikit-demo
    .container
      // Пример вставки картинки
      // <img width="250" height="200" src="@img/cover.jpg" alt="">
      .uikit-demo__item
        +mixTextField('Text field', 'text', 'Email (placeholder)')
      .uikit-demo__item
        +mixTextFieldMasked('Masked text field', 'date', '')
      .uikit-demo__item
        +mixTextFieldSubscription('Subscription text field', 'text', 'Email (placeholder)')
      .uikit-demo__item
        //- Параметры: vLabel, vPlaceholder, vType
        +mixDropdown('Dropdown', '1')
      .uikit-demo__item
        //- Параметры: vLabel, vPlaceholder, vType
        +mixDropdown('Dropdown (type2)', '2')
      .uikit-demo__item
        +mixDropdownDateSplit('Date dropdown split', 'Date dropdown split')
      .uikit-demo__item
        +mixDropdownDateFilter('Filter date dropdown')
      
      
      
      //- div(style="font-variation-settings: 'FILL' 1, 'wght' 100, 'GRAD' 0, 'opsz' 48;")
      //-   span.material-symbols-outlined arrow_forward
      //-   span.material-symbols-outlined home
      //-   span.material-symbols-outlined settings
      //-   span.material-symbols-outlined favorite


  include ../../modules/footer/footer.pug
  //- script(src='js/air-datepicker.js')
  //- script(src='js/dropdown-date-split.js')
  //- script(src='js/dropdown.js')
  script(src='js/main.js')
  