//- Вставка из другого файла, использование миксинов с параметрами
include ../../modules/head/head
include ../../modules/text-field/text-field.pug
include ../../modules/text-field-masked/text-field-masked.pug
include ../../modules/text-field-subscription/text-field-subscription.pug
include ../../modules/dropdown/dropdown.pug
include ../../modules/dropdown-date-split/dropdown-date-split.pug
include ../../modules/dropdown-date-filter/dropdown-date-filter.pug
include ../../modules/checkbox-list/checkbox-list.pug

doctype html

+mixHead('Главная')

body
  include ../../modules/header/header.pug
  
  .uikit-demo
    .container
      //- Пример вставки картинки
      //<img width="250" height="200" src="@img/cover.jpg" alt="">
      .uikit-demo__item
        +mixTextField('Text field', 'text', 'Email (placeholder)')
      .uikit-demo__item
        +mixTextFieldMasked('Masked text field', 'date', '')
      .uikit-demo__item
        +mixTextFieldSubscription('Subscription text field', 'text', 'Email (placeholder)')
      .uikit-demo__item
        //- Параметры: vLabel, vPlaceholder, vType
        +mixDropdown('Dropdown', '1')
      .uikit-demo__item
        //- Параметры: vLabel, vPlaceholder, vType
        +mixDropdown('Dropdown (type2)', '2')
      .uikit-demo__item
        +mixDropdownDateSplit('Date dropdown split', 'Date dropdown split')
      .uikit-demo__item
        +mixDropdownDateFilter('Filter date dropdown')
      .uikit-demo__item
        //- Параметры: vLabel, vItemsId, vItems
        +mixCheckboxList('Expandable checkbox list', ['chkbox1','chkbox2','chkbox3','chkbox4','chkbox5','chkbox6'],['завтрак', 'письменный стол', 'стул для кормления', 'кроватка', 'телевизор', 'шампунь'])
            
  include ../../modules/footer/footer.pug

  script(src='js/main.js')
  