//- Вставка из другого файла, использование миксинов с параметрами
include ../../modules/head/head
include ../../modules/text-field/text-field.pug
include ../../modules/text-field-masked/text-field-masked.pug
include ../../modules/text-field-subscription/text-field-subscription.pug
include ../../modules/dropdown/dropdown.pug
include ../../modules/dropdown-date-split/dropdown-date-split.pug
include ../../modules/dropdown-date-filter/dropdown-date-filter.pug
include ../../modules/checkbox-list-exp/checkbox-list-exp.pug
include ../../modules/checkbox-list/checkbox-list.pug
include ../../modules/checkbox-list-rich/checkbox-list-rich.pug
include ../../modules/advantages/advantages.pug
include ../../modules/radio-buttons/radio-buttons.pug
include ../../modules/toggle/toggle.pug
include ../../modules/button-like/button-like.pug
include ../../modules/button-rate/button-rate.pug


doctype html

+mixHead('Главная')

body
  include ../../modules/header/header.pug
  
  .uikit-demo
    .container
      //- Пример вставки картинки
      //<img width="250" height="200" src="@img/cover.jpg" alt="">
      .uikit-demo__item
        +mixTextField('Text field', 'text', 'Email (placeholder)')
      .uikit-demo__item
        +mixTextFieldMasked('Masked text field', 'date', '')
      .uikit-demo__item
        +mixTextFieldSubscription('Subscription text field', 'text', 'Email (placeholder)')
      .uikit-demo__item
        //- Параметры: vLabel, vPlaceholder, vType
        +mixDropdown('Dropdown', '1')
      .uikit-demo__item
        //- Параметры: vLabel, vPlaceholder, vType
        +mixDropdown('Dropdown (type2)', '2')
      .uikit-demo__item
        +mixDropdownDateSplit('Date dropdown split', 'Date dropdown split')
      .uikit-demo__item
        +mixDropdownDateFilter('Filter date dropdown')
      .uikit-demo__item
        //- Параметры: vLabel, vItemsId, vItems
        +mixCheckboxListExp('Expandable checkbox list', ['chkbox1','chkbox2','chkbox3','chkbox4','chkbox5','chkbox6'],['завтрак', 'письменный стол', 'стул для кормления', 'кроватка', 'телевизор', 'шампунь'])
      .uikit-demo__item
        //- Параметры: vLabel, vItemsId, vItems
        +mixCheckboxList('Checkbox list', ['chkbox7','chkbox8','chkbox9'],['можно курить', 'можно с питомцами', 'можно пригласить гостей (до 10 человек)'])
      .uikit-demo__item
        //- Параметры: vLabel, vItemsId, vItems, vDescriptions
        +mixCheckboxListRich('Rich checkbox list', ['chkbox10','chkbox11'],['Широкий коридор', 'Помощник для инвалидов'],['Ширина коридоров в номере не менее 91 см.','На 1 этаже вас встретит специалист  и проводит до номера.'])
      .uikit-demo__item
        //- Параметры: vIcon, vTitle, vDescription, vHasLine
        +mixAdvantages('insert_emoticon', 'Комфорт', 'Шумопоглощающие стены', 'true')
        //- Параметры: vIcon, vTitle, vDescription, vHasLine
        +mixAdvantages('location_city', 'Удобство', 'Окно в каждой из спален', 'false')
      .uikit-demo__item
        //- Параметры: vIcon, vTitle, vDescription, vHasLine
        +mixRadioButtons('Radio buttons', 'Gender', ['radio1','radio2'], ['мужчина', 'женщина'])
      .uikit-demo__item
        //- Параметры: vLabel, vItemsId, vItems
        +mixToggle('Toggle', ['toggle1','toggle2'],['получать спецпредложения', 'получать спецпредложения'])
      .uikit-demo__item
        |Like button
        br
        br
        //- Параметры: vNumber, vCheckboxId ,vChecked
        +mixButtonLike('12', 'btnlike1','true')
        +mixButtonLike('25378', 'btnlike2','false')
      .uikit-demo__item
        |Rate button
        br
        br
        //- Параметры: vGroupName, vItemsId
        +mixButtonRate('starrategrp1',['starrate1','starrate2','starrate3','starrate4','starrate5'])
          
  include ../../modules/footer/footer.pug

  script(src='js/main.js')
  