//- Вставка из другого файла, использование миксинов с параметрами
include ../../modules/head/head
include ../../modules/text-field/text-field.pug
include ../../modules/text-field-masked/text-field-masked.pug
include ../../modules/text-field-subscription/text-field-subscription.pug
include ../../modules/dropdown/dropdown.pug
include ../../modules/dropdown-date-split/dropdown-date-split.pug
include ../../modules/dropdown-date-filter/dropdown-date-filter.pug
include ../../modules/checkbox-list-exp/checkbox-list-exp.pug
include ../../modules/checkbox-list/checkbox-list.pug
include ../../modules/checkbox-list-rich/checkbox-list-rich.pug
include ../../modules/advantages/advantages.pug
include ../../modules/radio-buttons/radio-buttons.pug
include ../../modules/toggle/toggle.pug
include ../../modules/button-like/button-like.pug
include ../../modules/button-rate/button-rate.pug
include ../../modules/slider-range/slider-range.pug
include ../../modules/button-dark/button-dark.pug
include ../../modules/button-light/button-light.pug
include ../../modules/button-clear/button-clear.pug
include ../../modules/button-arrow/button-arrow.pug
include ../../modules/bullet-list/bullet-list.pug
include ../../modules/products-list/products-list.pug
include ../../modules/pagination/pagination.pug

//- Составные модули
include ../../composite_modules/review/review.pug
include ../../composite_modules/search/search.pug



doctype html

+mixHead('Главная')

body
  include ../../modules/header/header.pug
  
  .uikit-demo
    .container
      //- Пример вставки картинки
      //- <img width="250" height="200" src="@img/cover.jpg" alt="">

      //- text-field
      .uikit-demo__item
        -
          const textFieldParams = {
            label: 'Text field',
            type: 'text',
            placeholder: 'Email (placeholder)'          };
        +mixTextField(textFieldParams)

      //- text-field-masked
      .uikit-demo__item
        -
          const textFieldMaskedParams = {
            label: 'Masked text field',
            type: 'date',
            placeholder: ''
          };
        +mixTextFieldMasked(textFieldMaskedParams)

      //- text-field-subscription
      .uikit-demo__item
        -
          const textFieldSubscriptionParams = {
            label: 'Subscription text field',
            type: 'text',
            placeholder: 'Email (placeholder)'
          };
        +mixTextFieldSubscription(textFieldSubscriptionParams)

      //- dropdown - c гостями
      .uikit-demo__item
        -
          const dropdownParams = {
            label: 'Dropdown',
            type: '1', // с гостями
            inputNames: ['select-value1', 'select-value2', 'select-value3']
          };
        +mixDropdown(dropdownParams)

      //- dropdown - с параметрами номера
      .uikit-demo__item
        -
          const dropdownParams2 = {
            label: 'Dropdown (type2)',
            type: '2', // с параметрами номера
            inputNames: ['select-value4', 'select-value5', 'select-value6']
          };
        +mixDropdown(dropdownParams2)
      
      //- dropdown-date-split
      .uikit-demo__item
        -
          const dropdownSplitParams = {
            label1: 'Date dropdown split - part1',
            label2: 'Date dropdown split - part2',
            inputNames: ['input-split-name1', 'input-split-name2'],
          };
        +mixDropdownDateSplit(dropdownSplitParams)

      //- dropdown-date-filter
      .uikit-demo__item
        -
          const dropdownDateFilterParams = {
            label: 'Filter date dropdown',
            inputName: 'input-date-filter-name1',
          };
        +mixDropdownDateFilter(dropdownDateFilterParams)

      //- checkbox-list-exp
      .uikit-demo__item
        -
          const checkboxListExpParams = {
            label: 'Expendable checkbox list',
            inputs:[
              {id: 'chkbox1', name: 'breakfast', value: 'завтрак'},
              {id: 'chkbox2', name: 'desk', value: 'письменный стол'},
              {id: 'chkbox3', name: 'high-chair', value: 'стул для кормления'},
              {id: 'chkbox4', name: 'crib', value: 'кроватка'},
              {id: 'chkbox5', name: 'tv', value: 'телевизор'},
              {id: 'chkbox6', name: 'shampoo', value: 'шампунь'},
            ]
          };
        +mixCheckboxListExp(checkboxListExpParams)
      
      //- checkbox-list
      .uikit-demo__item
        -
          const checkboxListParams = {
            label: 'Checkbox list',
            inputs:[
              {id: 'chkbox7', name: 'smoking', value: 'можно курить'},
              {id: 'chkbox8', name: 'pets', value: 'можно с питомцами'},
              {id: 'chkbox9', name: 'guests', value: 'можно пригласить гостей (до 10 человек)'},
            ]
          };
        +mixCheckboxList(checkboxListParams)
      
      //- checkbox-list-rich
      .uikit-demo__item
        -
          const checkboxListRichParams = {
            label: 'Rich checkbox list',
            inputs:[
              {id: 'chkbox10', name: 'wide-corridor', value: 'Широкий коридор', description: 'Ширина коридоров в номере не менее 91 см.'},
              {id: 'chkbox11', name: 'disabled-assistant', value: 'Помощник для инвалидов', description: 'На 1 этаже вас встретит специалист  и проводит до номера.'},
            ]
          };
        +mixCheckboxListRich(checkboxListRichParams)
      
      //- advantages
      .uikit-demo__item
        -
          const advantagesParams1 = {
            icon: 'insert_emoticon',
            title: 'Комфорт',
            description: 'Шумопоглощающие стены',
            hasline: 'true',
          };
        +mixAdvantages(advantagesParams1)
        -
          const advantagesParams2 = {
            icon: 'location_city',
            title: 'Удобство',
            description: 'Окно в каждой из спален',
            hasline: 'false',
          };
        +mixAdvantages(advantagesParams2)
      
      //- radio-buttons
      .uikit-demo__item
        -
          const radioButtonsParams = { //vLabel, vGroupName,vItemsId, vItems
            label: 'Radio buttons',
            groupName: 'gender',
            inputs:[
              {id: 'radio1', value: 'мужчина'},
              {id: 'radio2', value: 'женщина'},
            ]
          };
        +mixRadioButtons(radioButtonsParams)
      
      //- 
      .uikit-demo__item
        +mixToggle('Toggle', ['toggle1','toggle2'],['получать спецпредложения', 'получать спецпредложения'])
      
      //- 
      .uikit-demo__item
        |Like button
        br
        br
        +mixButtonLike('12', 'btnlike1','true')
        +mixButtonLike('25378', 'btnlike2','false')
      
      //- 
      .uikit-demo__item
        |Rate button
        br
        br
        +mixButtonRate('starrategrp1',['starrate1','starrate2','starrate3','starrate4','starrate5'])
      
      //- 
      .uikit-demo__item
        +mixSliderRange('Range slider', '1000', '12000', '2000', '10000', '50', '500')
      
      //- 
      .uikit-demo__item
        |Buttons
        br
        br
        +mixButtonDark('click me')
        +mixButtonLight('click me')
        +mixButtonClear('click me')
        +mixButtonArrow('Перейти к оплате')
      
      //- 
      .uikit-demo__item
        +mixBulletList('Bullet list', ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00'])
      
      //- 
      .uikit-demo__item
        +mixProductsList('Products list')
      
      //- 
      .uikit-demo__item
        +mixPagination('Pagination')

      //- 
      .uikit-demo__item
        |Review
        -
          const reviewParams = {
            photo: '@img/review/review-photo1.jpg',
            name: 'Мурад Сарафанов',
            timeReview: '5 дней назад',
            text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
            numberLikes: '12',
            btnLikeId: 'btnlike2',
            liked: 'true'
          };
        +mixReview(reviewParams)

      //- 
      .uikit-demo__item
        -
          const searchParams = {
            photo: '@img/review/review-photo1.jpg',
            name: 'Мурад Сарафанов',
            timeReview: '5 дней назад',
            text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
            numberLikes: '12',
            btnLikeId: 'btnlike2',
            liked: 'true'
          };
        +mixSearch(searchParams)
        
  include ../../modules/footer/footer.pug

  script(src='js/main.js')
  