@use '../../scss/nullstyle.scss';
@use '../../scss/fonts.scss';
@use '../../modules/text-field/text-field.scss';
@use '../../modules/text-field-masked/text-field-masked.scss';
@use '../../modules/text-field-subscription/text-field-subscription.scss';
@use '../../modules/dropdown/dropdown.scss';
@use '../../modules/dropdown-date-split/dropdown-date-split.scss';
@use '../../modules/dropdown-date-filter/dropdown-date-filter.scss';
@use '../../modules/checkbox-list-exp/checkbox-list-exp.scss';
@use '../../modules/checkbox-list/checkbox-list.scss';
@use '../../modules/checkbox-list-rich/checkbox-list-rich.scss';
@use '../../modules/advantages/advantages.scss';
@use '../../modules/radio-buttons/radio-buttons.scss';
@use '../../modules/toggle/toggle.scss';
@use '../../modules/button-like/button-like.scss';

@use '../../scss/air-datepicker-upd.scss'; //Переназначение стилей air-datepicker

@use '../../scss/colors.scss' as *;

body {
    //background-color: rgba(100, 100, 100, 0.2);
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.uikit-demo {
    padding: 30px;

    &__item {
        color: $color-darkshade100;

        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px;

        margin-bottom: 20px;
        background-color: white;
        box-shadow: 0 0 10px 0px rgba(125, 125, 125, 0.6);
    }
}





// ************ Пример использования **************
//background: url("@img/cover.jpg") 0 0 no-repeat;

// @media (max-width: 768px) {
//     span {
//         font-size: 20px;
//     }
// }