@use '../../scss/colors.scss' as *;

.pagination {

    &__label {
        color: $color-darkshade100;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px;

        margin-bottom: 16px;
    }

    &__body {
        display: flex;
        margin-bottom: 11px;
        user-select: none; // запрет выделения текста
    }

    &__list {
        display: flex;
    }

    &__item {
        color: $color-darkshade50;
        font-size: 12px;
        font-weight: normal;
        width: 40px;
        height: 40px;
        text-align: center;
        align-content: center;
        cursor: pointer;

        &_active {
            background: linear-gradient($color-purple, $color-blue);
            color: $color-white;
            border-radius: 50%;
            font-weight: bold;
        }

        &_unclickable {
            cursor: default;
        }
    }


    &__arrow {
        text-align: center;
        align-content: center;

        width: 40px;
        height: 40px;
        border-radius: 50%;

        color: $color-white;
        background: linear-gradient($color-green, $color-cyan);

        font-family: "Material Symbols Outlined", serif;
        font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
        font-size: 24px;

        cursor: pointer;
    }

    &__text {
        color: $color-darkshade75;
        font-weight: normal;
        text-transform: lowercase;
        font-size: 14px;
        line-height: 24px;
    }
}