//- Объявление миксина
//- Параметры: 
mixin mixPagination(vLabel)
  .pagination
    .pagination__label=vLabel
    .pagination__body
      ul.pagination__list
        li.pagination__item.pagination__item_active 1
        li.pagination__item 2
        li.pagination__item 3
        li.pagination__item ...
        li.pagination__item 15
      .pagination__arrow arrow_forward
    .pagination__text 1 – 12 из 100+ вариантов аренды
