//- Объявление миксина
mixin mixRadioButtons({groupName, inputs})
  .radio-buttons
    .radio-buttons__items
      each item in inputs
        .radio-buttons__item
          input.radio-buttons__input(type="radio" name=groupName id=item.id)
          label.radio-buttons__input-label(for=item.id)=item.value