//- Объявление миксина
//- Параметры: 
mixin mixProductsList(vLabel)
  .products-list
    .products-list__label=vLabel
    ul.products-list__list
      li.products-list__item
        .products-list__id id1
        .products-list__name name1
      li.products-list__item
        .products-list__id id2
        .products-list__name name3
      li.products-list__item
        .products-list__id id3
        .products-list__name name4
      li.products-list__item
        .products-list__id id4
        .products-list__name name4
      li.products-list__item
        .products-list__id id5
        .products-list__name name5
