//- Объявление миксина
//- Параметры: vLabel, vType, vPlaceholder
mixin mixTextFieldSubscription({type: vType, placeholder: vPlaceholder, name})
  .text-field-subscription
    .text-field-subscription__container
      input.text-field-subscription__input(type=vType placeholder=vPlaceholder name=name)