@use '../../scss/colors.scss' as *;

.button-like {
    display: block;
    width: fit-content;
    //height: 30px;
    // padding: 5px;

    &.button-like_active .button-like__body {
        // Когда у .button-like есть класс .button-like_active, изменить стиль .button-like__body 
        border-color: $color-purple;
    }

    &.button-like_active .button-like__icon {
        // Когда у .button-like есть класс .button-like_active, изменить стиль .button-like__icon
        font-variation-settings: 'FILL' 1;
        background: linear-gradient($color-purple, $color-blue);
        color: transparent;
        background-clip: text;
    }

    &.button-like_active .button-like__text {
        // Когда у .button-like есть класс .button-like_active, изменить стиль .button-like__text 
        color: $color-purple;
    }

    &__body {
        display: flex;
        align-items: center;

        border-radius: 10px;
        border: 1px solid $color-darkshade25;

        //min-width: 40px;

        //padding: 0px 10px 0px 30px;

    }

    &__icon {
        // сердце внутри
        font-family: "Material Symbols Outlined", serif;
        font-size: 10px;
        line-height: 0.85em;
        font-weight: normal;

        color: $color-darkshade25;
        margin: 5px;
    }

    &__text {
        color: $color-darkshade25;
        margin-right: 5px;

        font-size: 10px;

        min-width: 13.4px;
    }
}