@use '../../scss/colors.scss' as *;

.header {
	width: 100%;
	border: 1px dashed black;
	display: flex;
	padding: 15px 0px;
	align-items: center;

	&__logo {
		@media (max-width: 992px) {
			margin-right: auto;
		}

	}

	&__menu {
		margin-left: auto;
		margin-right: 20px;

		@media (max-width: 992px) {
			display: none;
		}

	}

	&__buttons {
		display: flex;

		@media (max-width: 992px) {
			display: none;
		}
	}

	&__button-login {
		margin-right: 20px;
	}

	&__button-register {}

	&__user {
		padding-left: 20px;
		border-left: 1px solid $color-darkshade10;
		height: 30px;
		display: flex;

		@media (max-width: 992px) {
			border-left: none;
			border-right: 1px solid $color-darkshade10;
			padding-left: 0;
			padding-right: 20px;
		}

	}

	&__username {
		font-size: 14px;
		font-weight: normal;
		color: $color-darkshade50;
	}

	& .button-light__content {
		// Переопределение отступов у кнопок
		padding: 7px 18px 8px 18px;
	}

	& .button-dark {
		// Переопределение отступов у кнопок
		padding: 9px 20px 10px 20px;
	}

	&__burger {
		display: none;

		@media (max-width: 992px) {
			display: block;
			font-family: "Material Symbols Outlined", serif;
			font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
			font-size: 24px;
			background: linear-gradient($color-purple, $color-blue);
			background-clip: text;
			color: transparent;
			padding: 0 20px;
		}

	}
}