@use '../../scss/colors.scss' as *;

.header {
	width: 100%;
	border: 1px dashed black;
	display: flex;
	padding: 15px 0px;
	align-items: center;

	&__logo {}

	&__menu {
		margin-left: auto;
		margin-right: 20px;
	}

	&__buttons {
		display: flex;
	}

	&__button-login {
		margin-right: 20px;
	}

	&__button-register {}

	&__user {
		padding-left: 20px;
		border-left: 1px solid $color-darkshade10;
		height: 30px;
		display: flex;
	}

	&__username {
		font-size: 14px;
		font-weight: normal;
		color: $color-darkshade50;
	}

	& .button-light__content {
		// Переопределение отступов у кнопок
		padding: 7px 18px 8px 18px;
	}

	& .button-dark {
		// Переопределение отступов у кнопок
		padding: 9px 20px 10px 20px;
	}
}