@use '../../scss/colors.scss' as *;

.text-field {
    &__input {
        color: $color-darkshade75;

        border: 1px solid $color-darkshade25;
        border-radius: 4px;

        font-size: 14px;
        line-height: 18px;

        width: 100%;
        padding: 12px 15px;

        &::placeholder {
            color: $color-darkshade25;
        }

        &:focus,
        &:hover {
            color: $color-darkshade75;
            border-color: $color-darkshade75;
        }

    }
}