//- Объявление миксина
mixin mixTextField({label: vLabel, type: vType, placeholder: vPlaceholder})
  .text-field
    .text-field__label= vLabel
    input.text-field__input(type= vType placeholder= vPlaceholder)