//- Объявление миксина
mixin mixMenu(params)
  nav.menu(aria-label="Сайт")
    ul.menu__list
      li.menu__item.menu__item_active
        a.menu__link(href="#")  О нас
      li.menu__item.menu__item_expendable(data-has-children)
        button.menu__button(aria-expanded="false" aria-controls="css-submenu1") Услуги
          .menu__icon expand_more
        ul.menu__submenu.menu__submenu_hidden
          li.menu__item
            a.menu__link(href="#") Услуга 1
          li.menu__item
            a.menu__link(href="#") Услуга 2
          li.menu__item
            a.menu__link(href="#") Услуга 3
      li.menu__item
        a.menu__link(href="#") Вакансии
      li.menu__item
        a.menu__link(href="#") Новости
      li.menu__item.menu__item_expendable(data-has-children)
        button.menu__button(aria-expanded="false" aria-controls="css-submenu2") Соглашения
          .menu__icon expand_more
        ul.menu__submenu.menu__submenu_hidden
          li.menu__item
            a.menu__link(href="#") Соглашение 1
          li.menu__item
            a.menu__link(href="#") Соглашение 2
          li.menu__item
            a.menu__link(href="#") Соглашение 3
