//- Объявление миксина
mixin mixMenu(params)
  nav.menu(aria-label="Сайт")
    .menu__body
      img.menu__logo(src="@img/Logo.svg", alt="Toxin")
      ul.menu__list
        li.menu__item.menu__item_active
          a.menu__link(href="#") О нас
            .menu__hover-text О нас
        li.menu__item.menu__item_expendable(data-has-children)
          button.menu__button(aria-expanded="false" aria-controls="css-submenu1") Услуги
            .menu__hover-text Услуги
            .menu__icon expand_more
          ul.menu__submenu.menu__submenu_hidden
            li.menu__item
              a.menu__link(href="#") Трансфер
                .menu__hover-text Трансфер
            li.menu__item
              a.menu__link(href="#") Питание
                .menu__hover-text Питание
            li.menu__item
              a.menu__link(href="#") Помощь инвалидам
                .menu__hover-text Помощь инвалидам
        li.menu__item
          a.menu__link(href="#") Вакансии
            .menu__hover-text Вакансии
        li.menu__item
          a.menu__link(href="#") Новости
            .menu__hover-text Новости
        li.menu__item.menu__item_expendable(data-has-children)
          button.menu__button(aria-expanded="false" aria-controls="css-submenu2") Соглашения
            .menu__hover-text Соглашения
            .menu__icon expand_more
          ul.menu__submenu.menu__submenu_hidden
            li.menu__item
              a.menu__link(href="#") Правила пользования
                .menu__hover-text Правила пользования
            li.menu__item
              a.menu__link(href="#") Образец договора
                .menu__hover-text Образец договора
