@use '../../scss/colors.scss' as *;

.menu {
    &__list {
        display: flex;
        min-width: max-content;
        gap: 20px;

        font-size: 14px;

        background: $color-white;

        z-index: 2;
    }

    &__submenu {
        border: 1px solid $color-darkshade25;


        display: flex;
        flex-direction: column;
        gap: 8px;

        position: absolute;
        top: 125%;
        left: 0;

        background-color: $color-white;
        padding-left: 15px;
        padding-right: 18px;

        width: max-content;

        &_hidden {
            display: none;
        }


        & .menu__link:hover {
            // background-color: $color-blue50;
        }

        & .menu__button:hover {
            // background-color: $color-blue50;
        }

        // /* Второй уровень вложенности */
        & .menu__submenu {
            top: 0;
            left: 104%;
        }


    }

    &__button {
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: background-color 0.2s linear;

        color: $color-darkshade50;


        &:hover {
            // background-color: $color-blue50;
            // font-weight: bold;
            // color: $color-darkshade75;
            // opacity: 0;

            // Вместо исходного текста показываем другой, скрывая исходный
            visibility: hidden;

            & .menu__hover-text {
                display: block;
                visibility: visible;
            }

            & .menu__icon {
                visibility: visible;
                color: $color-darkshade75;
            }
        }

        &.menu__button_extended {
            //background-color: $color-blue50;
        }

        &.menu__button_extended .menu__icon {
            transform: rotate(180deg);
        }
    }

    &__hover-text {
        display: none;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        font-weight: bold;
        width: max-content;
        color: $color-darkshade75;
    }

    &__icon {
        font-family: "Material Symbols Outlined", serif;
        font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
        font-size: 24px;
        line-height: 0.85em;
        transition: transform .1s linear;
        width: 24px;
        transform: translate(0, 2px);
    }

    &__link {
        display: flex;
        width: 100%;
        align-items: center;
        cursor: pointer;
        transition: background-color 0.2s linear;

        color: $color-darkshade50;

        padding-top: 5px;
        padding-bottom: 5px;


        &:hover {
            // background-color: $color-blue50;
            visibility: hidden;

            & .menu__hover-text {
                display: block;
                visibility: visible;
            }

            & .menu__icon {
                visibility: visible;
                color: $color-darkshade75;
            }

        }
    }

    &__item {
        position: relative;
        align-content: center;

        &_active {
            // font-weight: bold;

            &>.menu__link {
                //color: $color-darkshade75;
            }
        }
    }

}