//- Объявление миксина
//- Параметры: 
mixin mixAdvantages({icon, title, description, hasline})
  .advantages
    .advantages__content
      .advantages__icon=icon
      .advantages__textblock
        .advantages__title=title
        .advantages__description=description
    if hasline == 'true'
      .advantages__line