@use '../../scss/colors.scss' as *;

.registration {
    max-width: 380px;
    padding: 40px 30px 30px 30px;
    border: 1px dashed black;

    &__title {
        font-size: 24px;
        font-weight: bold;
        text-transform: lowercase;
        margin-bottom: 21px;

        &::first-letter {
            text-transform: uppercase;
        }
    }

    &__name {
        margin-bottom: 10px;
    }

    &__last-name {
        margin-bottom: 10px;
    }

    &__radio-buttons {
        margin-bottom: 20px;
    }

    &__label1 {
        margin-bottom: 5px;
    }

    &__birthdate {
        margin-bottom: 20px;
    }

    &__label2 {
        margin-bottom: 5px;
    }

    &__email {
        margin-bottom: 10px;
    }

    &__password {
        margin-bottom: 10px;
    }

    &__toggle {
        margin-bottom: 20px;
    }

    &__button-pay {
        margin-bottom: 30px;
    }

    &__button-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__text-login {
        font-size: 14px;
        font-weight: normal;
        text-transform: none;
    }

    &__button-login {
        min-width: 99px;
    }
}