//- Объявление миксина
mixin mixToggle({inputs})
  .toggle
    .toggle__items
      each item in inputs
        .toggle__item
          input.toggle__checkbox(type="checkbox" name=item.name id=item.id)
          label.toggle__item-label(for=item.id)=item.value