//- Объявление миксина
mixin mixProduct(params)
    .product
        .product__slider-container
            .product__slider
                section.splide
                    .splide__track
                        ul.splide__list
                            li.splide__slide
                                img.product__image(src="@img/rooms/room01-1.jpg", alt="" )
                            li.splide__slide
                                img.product__image(src="@img/rooms/room01-2.jpg", alt="" )
                            li.splide__slide
                                img.product__image(src="@img/rooms/room01-3.jpg", alt="" )
                            li.splide__slide
                                img.product__image(src="@img/rooms/room01-4.jpg", alt="" )
        .product__body
            .product__info
                .product__number-container
                    span № 
                    span.product__number=888
                .product__type люкс
                .product__price-container
                    span.product__price 9 990₽
                    span  в сутки
            .product__reviews
                .product__rating
                    +mixButtonRate(params.buttonRateParams)
                .product__quantity-reviews 145
                .product__text Отзывов