@use '../../scss/colors.scss' as *;

.review {
    display: grid;
    grid-template-columns: minmax(40px, auto) auto;
    gap: 10px;

    &__photo-container {
        justify-items: center;

        width: 100%;
        position: relative;
        /* нижним отступом выставляем высоту контейнера (соотношение высоты к ширине) */
        /* (отступ указывается в % соотношении от ширины родителя) */
        padding: 0px 0px 100% 0px;

    }

    &__photo {
        position: absolute;
        object-fit: cover;
        object-position: center;

        top: 0;
        left: 0;
        width: 48px;
        height: 48px;

        border-radius: 50%;
        border: 2px solid $color-white;
    }

    &__title {
        align-self: center;

        font-size: 14px;
        line-height: 24px;

        color: $color-darkshade75;

    }

    &__name {
        text-transform: capitalize;
        font-weight: bold;
    }

    &__date {
        text-transform: lowercase;
        font-weight: normal;
    }

    &__button-container {
        justify-items: center;
    }

    &__text {

        font-size: 14px;
        line-height: 24px;
        font-weight: normal;

        text-transform: none;

        color: $color-darkshade75;

    }
}