//- Объявление миксина
mixin mixReview(params)
    .review
        .review__left-column
            .review__photo-container
                img.review__photo(src=params.photo, alt="photo")
            .review__button-container
                +mixButtonLike(params.buttonLikeParams)    
        .review__body
            .review__title
                .review__name=params.name
                .review__date=params.timeReview
            .review__text=params.text