//- Вставка из другого файла, использование миксина с параметрами
//- mixin mixHead(pageTitle)
include pug/head

//- mixin mixTextField(vLabel, vType, vPlaceholder)
include pug/uikit/text-field

//- mixin mixTextFieldMasked(vLabel, vType, vPlaceholder)
include pug/uikit/text-field-masked

//- mixin mixTextFieldSubscription(vLabel, vType, vPlaceholder)
include pug/uikit/text-field-subscription

//- mixin mixDropdown(vLabel, vPlaceholder)
include pug/uikit/dropdown


doctype html

+mixHead('Главная')

body
  include pug/header
  
  .uikit-demo
    .container
      // Пример вставки картинки
      // <img width="250" height="200" src="@img/cover.jpg" alt="">
      .uikit-demo__item
        +mixTextField('Text field', 'text', 'Email (placeholder)')
      .uikit-demo__item
        +mixTextFieldMasked('Masked text field', 'date', '')
      .uikit-demo__item
        +mixTextFieldSubscription('Subscription text field', 'text', 'Email (placeholder)')
      .uikit-demo__item
        //- Параметры: vLabel, vPlaceholder, vType
        +mixDropdown('Dropdown', '1')
      .uikit-demo__item
        //- Параметры: vLabel, vPlaceholder, vType
        +mixDropdown('Dropdown-type2', '2')
      
      
      
      //- div(style="font-variation-settings: 'FILL' 1, 'wght' 100, 'GRAD' 0, 'opsz' 48;")
      //-   span.material-symbols-outlined arrow_forward
      //-   span.material-symbols-outlined home
      //-   span.material-symbols-outlined settings
      //-   span.material-symbols-outlined favorite


  include pug/footer

  script(src='js/app.min.js')