// Переменные цветов
$color-black20: rgba(0, 0, 0, 0.2);
$color-black12: rgba(0, 0, 0, 0.12);
$color-darkshade100: #1f2041;
$color-darkshade75: rgba(31, 32, 65, 0.75);
$color-darkshade50: rgba(31, 32, 65, 0.50);
$color-darkshade25: rgba(31, 33, 65, 0.25);
$color-darkshade10: rgba(31, 33, 65, 0.1);
$color-darkshade5: rgba(31, 32, 65, 0.05);
$color-purple: #BC9CFF;
$color-blue: #8BA4F9;
$color-purple50: rgba(188, 156, 255, 0.5);
$color-blue50: rgba(139, 164, 249, 0.5);
$color-green: #6FCF97;
$color-cyan: #66D2EA;
$color-green50: rgba(111, 207, 151, 0.5);
$color-cyan50: rgba(102, 210, 234, 0.5);
$color-white: white;
$color-chart-excellent-gradient-begin: #FFE39C;
$color-chart-excellent-gradient-end: #FFBA9C;
$color-chart-good-gradient-begin: #6FCF97;
$color-chart-good-gradient-end: #66D2EA;
$color-chart-satisfactory-gradient-begin: #BC9CFF;
$color-chart-satisfactory-gradient-end: #8BA4F9;
$color-chart-disappointed-gradient-begin: #909090;
$color-chart-disappointed-gradient-end: #3D4975;