// Переменные цветов
$color-darkshade100: #1f2041;
$color-darkshade75: rgba(31, 32, 65, 0.75);
$color-darkshade50: rgba(31, 32, 65, 0.50);
$color-darkshade25: rgba(31, 33, 65, 0.25);
$color-darkshade10: rgba(31, 33, 65, 0.1);
$color-darkshade5: rgba(31, 32, 65, 0.05);
$color-purple: #BC9CFF;
$color-blue: #8BA4F9;
$color-green: #6FCF97;
$color-cyan: #66D2EA;
$color-white: white;