@use 'nullstyle';
@use 'fonts';
@use 'uikit/text-field';
@use 'uikit/text-field-masked';
@use 'uikit/text-field-subscription';
@use 'uikit/dropdown';
@use 'uikit/dd-date-split';
@use 'extmodules/air-datepicker.css';

@import 'colors';

body {
    //background-color: $color-darkshade25;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.uikit-demo {
    padding: 30px;

    &__item {
        margin-bottom: 20px;
    }
}





// ************ Пример использования **************
//background: url("@img/cover.jpg") 0 0 no-repeat;

// @media (max-width: 768px) {
//     span {
//         font-size: 20px;
//     }
// }