// Базовые (цвета, шрифты, обнуление)
@use '../../scss/nullstyle.scss';
@use '../../scss/fonts.scss';
@use '../../scss/colors.scss' as *;
@use '../../scss/iconfont.scss';

// Модули UI Kit
@use '../../modules/label/label.scss';
@use '../../modules/text-field/text-field.scss';
@use '../../modules/text-field-masked/text-field-masked.scss';
@use '../../modules/text-field-subscription/text-field-subscription.scss';
@use '../../modules/dropdown/dropdown.scss';
@use '../../modules/dropdown-date-split/dropdown-date-split.scss';
@use '../../modules/dropdown-date-filter/dropdown-date-filter.scss';
@use '../../modules/checkbox-list-exp/checkbox-list-exp.scss';
@use '../../modules/checkbox-list/checkbox-list.scss';
@use '../../modules/checkbox-list-rich/checkbox-list-rich.scss';
@use '../../modules/advantages/advantages.scss';
@use '../../modules/radio-buttons/radio-buttons.scss';
@use '../../modules/toggle/toggle.scss';
@use '../../modules/button-like/button-like.scss';
@use '../../modules/button-rate/button-rate.scss';
@use '../../modules/slider-range/slider-range.scss';
@use '../../modules/button-dark/button-dark.scss';
@use '../../modules/button-light/button-light.scss';
@use '../../modules/button-clear/button-clear.scss';
@use '../../modules/button-arrow/button-arrow.scss';
@use '../../modules/bullet-list/bullet-list.scss';
@use '../../modules/products-list/products-list.scss';
@use '../../modules/pagination/pagination.scss';
@use '../../modules/menu/menu.scss';
@use '../../modules/chart/chart.scss';

// Составные модули
@use '../../composite_modules/review/review.scss';
@use '../../composite_modules/search/search.scss';
@use '../../composite_modules/registration/registration.scss';
@use '../../composite_modules/booking/booking.scss';
@use '../../composite_modules/login/login.scss';
@use '../../composite_modules/product/product.scss';
@use '../../composite_modules/header/header.scss';
@use '../../composite_modules/footer/footer.scss';

// Переназначение стилей сторонних модулей
@use '../../scss/air-datepicker-upd.scss'; //Переназначение стилей air-datepicker

body {
	//
}

.container {
	max-width: 81.944%;
	margin: 0 auto;
	padding: 0 50px;

	@media (max-width: 1440px) {
		max-width: 1180px;
	}

}

.photos {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;

	@media (max-width: 768px) {
		grid-template-columns: 1fr;
	}

	&__item {
		position: relative;
		padding-bottom: 49.44%; // Выставляем высоту в % соотношении от ширины

		&_big {
			grid-column: span 2;
			grid-row: span 2;

			@media (max-width: 768px) {
				grid-column: span 1;
				grid-row: span 1;
			}
		}

		// все потомки, кроме первого
		&:not(:first-child) {
			@media (max-width: 768px) {
				display: none;
			}
		}
	}

	&__image {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;

		object-fit: cover;
		object-position: center;
	}
}

.main {

	&__body {
		padding-top: 70px;
		display: flex;
		gap: 70px;

		@media (max-width: 1090px) {
			flex-direction: column;
			align-items: center;
		}

	}

	&__details {
		flex: 1 1 auto;
		border: 1px dashed green;

		display: grid;
		grid-template-areas:
			'info impressions'
			'reviews reviews'
			'rules cancel'
		;

		grid-template-columns: 1fr 1fr;

		column-gap: 20px;

		@media (max-width: 768px) {
			grid-template-columns: 1fr;

			grid-template-areas:
				'info'
				'impressions'
				'reviews'
				'rules'
				'cancel'
			;

			gap: 50px;
		}

	}

	&__info {
		grid-area: info;
		margin-bottom: 30px;

		@media (max-width: 768px) {
			margin-bottom: 0px;
		}
	}

	&__title {
		font-size: 19px;
		font-weight: bold;
		margin-bottom: 20px;
	}

	&__info-list {
		display: flex;
		gap: 20px;
		flex-direction: column;
		width: fit-content;
	}

	&__info-item {}

	&__impressions {
		grid-area: impressions;
	}

	&__chart {
		border: 1px dashed green;
	}

	&chart {}

	&__reviews {
		grid-area: reviews;
		margin-bottom: 30px;

		@media (max-width: 768px) {
			margin-bottom: 0px;
		}

	}

	&__title-container {
		display: flex;
		justify-content: space-between;
		align-items: baseline;

		@media (max-width: 768px) {
			flex-direction: column;
			justify-content: flex-start;
			margin-bottom: 20px;
		}
	}

	&__reviews-counter {
		font-size: 14px;
		line-height: 14px;
		font-weight: normal;
		color: $color-darkshade50;

		@media (max-width: 768px) {
			align-self: flex-end;
		}
	}

	&__reviews-list {
		display: flex;
		flex-direction: column;
		gap: 22px;
	}

	&__reviews-item {}

	&__rules {
		grid-area: rules;
	}

	&__rules-list {}

	&__cancel {
		grid-area: cancel;
	}

	&__cancel-text {
		font-size: 14px;
		line-height: 24px;
		color: $color-darkshade75;
	}

	&__booking {
		//flex: 0 0;
		//border: 1px dashed red;
	}

	&__booking-card {
		width: 380px;
		box-shadow: 0px 0px 25px $color-black20;
		border: 1px solid $color-black12;
	}
}