//- Вставка из другого файла, использование миксинов с параметрами
include ../../modules/head/head

//- Модули
include ../../modules/label/label.pug
include ../../modules/text-field/text-field.pug
include ../../modules/text-field-masked/text-field-masked.pug
include ../../modules/text-field-subscription/text-field-subscription.pug
include ../../modules/dropdown/dropdown.pug
include ../../modules/dropdown-date-split/dropdown-date-split.pug
include ../../modules/dropdown-date-filter/dropdown-date-filter.pug
include ../../modules/checkbox-list-exp/checkbox-list-exp.pug
include ../../modules/checkbox-list/checkbox-list.pug
include ../../modules/checkbox-list-rich/checkbox-list-rich.pug
include ../../modules/advantages/advantages.pug
include ../../modules/radio-buttons/radio-buttons.pug
include ../../modules/toggle/toggle.pug
include ../../modules/button-like/button-like.pug
include ../../modules/button-rate/button-rate.pug
include ../../modules/slider-range/slider-range.pug
include ../../modules/button-dark/button-dark.pug
include ../../modules/button-light/button-light.pug
include ../../modules/button-clear/button-clear.pug
include ../../modules/button-arrow/button-arrow.pug
include ../../modules/bullet-list/bullet-list.pug
include ../../modules/products-list/products-list.pug
include ../../modules/pagination/pagination.pug
include ../../modules/menu/menu.pug

//- Составные модули
include ../../composite_modules/review/review.pug
include ../../composite_modules/search/search.pug
include ../../composite_modules/registration/registration.pug
include ../../composite_modules/booking/booking.pug
include ../../composite_modules/login/login.pug
include ../../composite_modules/product/product.pug
include ../../composite_modules/header/header.pug
include ../../composite_modules/footer/footer.pug

doctype html

-
	const headParams = {
		pageTitle: 'Информация о номере',
		cssFile: 'css/details.css',
	};
+mixHead(headParams)

body

	//- Header
	-
		const headerParams = {
			buttonLightParams: {text: 'войти'},
			buttonDarkParams: {text: 'зарегистрироваться'},
		};
	+mixHeader(headerParams)
	
	//- Фотографии номера
	section.photos
		.photos__item.photos__item_big
			img.photos__image(src="@img/rooms/room01-1.jpg", alt="")
		.photos__item
			img.photos__image(src="@img/rooms/room01-2.jpg", alt="")
		.photos__item
			img.photos__image(src="@img/rooms/room01-3.jpg", alt="")

	//- Основная секция
	section.main
		.container
			.main__body
				.main__details
					.main__info
						.main__title Сведения о номере
						ul.main__info-list
							li.main__info-item
								-
									const advantagesParams1 = {
										icon: 'insert_emoticon',
										title: 'Комфорт',
										description: 'Шумопоглощающие стены',
										hasline: 'true',
									};
								+mixAdvantages(advantagesParams1)

							li.main__info-item
								-
									const advantagesParams2 = {
										icon: 'location_city',
										title: 'Удобство',
										description: 'Окно в каждой из спален',
										hasline: 'true',
									};
								+mixAdvantages(advantagesParams2)
							li.main__info-item
								-
									const advantagesParams3 = {
										icon: 'mode_heat',
										title: 'Уют',
										description: 'Номер оснащён камином',
										hasline: 'false',
									};
								+mixAdvantages(advantagesParams3)

					.main__impressions
						.main__title Впечатления от номера
						.main__impressions-diagram Диаграмма
					.main__reviews
						.main__title-container
							.main__title Отзывы посетителей номера
							.main__reviews-counter 2 отзыва
						ul.main__reviews-list
							li.main__reviews-item
								-
									const reviewParams1 = {
										photo: '@img/review/review-photo1.jpg',
										name: 'Мурад Сарафанов',
										timeReview: '5 дней назад',
										text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
										buttonLikeParams: {
											numberOfLikes: '12',
											id: 'btnlike1',
											isChecked: 'true'
										},
									};
								+mixReview(reviewParams1)
							li.main__reviews-item
								-
									const reviewParams2 = {
										photo: '@img/review/review-photo2.jpg',
										name: 'Патрисия Стёклышкова',
										timeReview: 'неделю назад',
										text: 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент',
										buttonLikeParams: {
											numberOfLikes: '2',
											id: 'btnlike2',
											isChecked: 'false'
										},
									};
								+mixReview(reviewParams2)

					.main__rules
						.main__title Правила
						.main__rules-list
							-
								const bulletListParams = {
									//label: 'Bullet list',
									items: ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00'],
								};
							+mixBulletList(bulletListParams)

					.main__cancel
						.main__title Отмена
						.main__cancel-text
							|Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за
							| 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
				.main__booking
					.main__booking-card
						-
							const bookingParams = {
								dropdownSplitParams: {
									label1: 'Прибытие',
									label2: 'Выезд',
									inputs:[
										{id: 'inputdate5', name: 'date-from'},
										{id: 'inputdate6', name: 'date-to'},
									]
								},
								label1: ({text: 'гости'}),
								dropdownParams: {
									label: 'Гости',
									placeholder: 'Сколько гостей',
									type: '1', // с гостями
									inputNames: ['guests', 'children', 'babies']
								},
								buttonArrowParams: {text: 'Забронировать'},
							};
						+mixBooking(bookingParams)


	//- Footer
	+mixFooter()

	script(src='js/details.js')
	