//- Объявление миксина
//- Параметры: vLabel, vExpendable
mixin mixCheckboxList(vLabel, vItemsId, vItems)
  .checkbox-list
    button.checkbox-list__button=vLabel
    .checkbox-list__items
      each vItem, vIndex in vItems
        .checkbox-list__item
          input.checkbox-list__checkbox(type="checkbox" id=vItemsId[vIndex])
          label.checkbox-list__label(for=vItemsId[vIndex])=vItem