//- Объявление миксина
//- Параметры: vLabel, vExpendable
mixin mixCheckboxList({label: vLabel, inputs})
  .checkbox-list
    .checkbox-list__button=vLabel
    .checkbox-list__items
      each item in inputs
        .checkbox-list__item
          input.checkbox-list__checkbox(type="checkbox" name=item.name id=item.id)
          label.checkbox-list__label(for=item.id)=item.value