//- Объявление миксина
//- Параметры: vLabel, vType, vPlaceholder
mixin mixDropdown(vLabel, vPlaceholder)
  .dropdown
    .dropdown__label= vLabel
    .dropdown__container
      button.dropdown__button
        =vPlaceholder
      .dropdown__list
        .dropdown__item(data-id='1' data-value='0')
          .dropdown__text взрослые
          .dropdown__button-dec.dropdown__button-dec_inactive -
          .dropdown__value 0
          .dropdown__button-inc +
        .dropdown__item(data-id='2' data-value='0')
          .dropdown__text дети
          .dropdown__button-dec.dropdown__button-dec_inactive -
          .dropdown__value 0
          .dropdown__button-inc +
        .dropdown__item(data-id='3' data-value='0')
          .dropdown__text младенцы
          .dropdown__button-dec.dropdown__button-dec_inactive -
          .dropdown__value 0
          .dropdown__button-inc +
        .dropdown__buttons-container() 
          .dropdown__button-clear очистить
          .dropdown__button-apply применить
      input.dropdown__input(type='text' data-id='1' name='select-value1')
      input.dropdown__input(type='text' data-id='2' name='select-value2')
      input.dropdown__input(type='text' data-id='3' name='select-value3')

script(src='js/dropdown.js')
