//- Объявление миксина
//- Параметры: vLabel, vType, vPlaceholder
mixin mixTextFieldMasked(vLabel, vType, vPlaceholder)
  .text-field-masked
    .text-field-masked__label= vLabel
    input.text-field-masked__input(type= vType required='' placeholder= vPlaceholder)
